<% if user_signed_in? %>
<div class="container">
		<div class="row">

	<% @albums.each do |album| %>

		<div class="col-md-6" style="margin-bottom: 10px;">
<!--Card Dark-->

<div class="card text-center">
    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <div class="row" style="padding: 5px;">
        	<% photoshow = Photo.where(album_id:album.id) %>
        	<% photoshow.each do |show| %>

        	<div class="col-md-3" style="margin-top: 5px;">
		        <a data-toggle="tooltip" data-placement="top" title="<%= show.photoname %>">
		        	<%= link_to album_photo_path(album_id:album.id,id:show.id) do %>
				  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" class="img-responsive img-thumbnail" alt="">
				  <% end %>
				</a>
        	</div>
        	<% end %>
        </div>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body">
        <!--Social shares button-->
        <a class="activator"><i class="fa fa-share-alt white-text"></i></a>
        <!--Title-->
        <h4 class="card-title"><%= album.albumname %></h4>
        <hr>
        <!--Text-->
        <p class="card-text"><%= album.description %></p>
        <div style="display: inline;">
	        <%= link_to '', album_path(id: album.id), method: :delete, class: "waves-effect waves-light p-2 btn btn-danger pull-right fa fa-trash" %>
        	<%= link_to 'Add Photo', new_album_photo_path(album_id: album.id), class:"btn btn-info btn-sm pull-right fa fa-plus" %>
        </div>
    </div>
    <!--/.Card content-->
</div>
</div>
<!--/.Card Dark-->
	<% end %>
</div><br>
	<div class="container">
	<div class="row">
	<div class="col-6 col-md-3"></div>
	<div class="col-md-6">
		<h1>Create Photo Album</h1><br>
		<%= form_for @album, url: albums_path, method: :post do |f| %>
		
			<div class="md-form">
			<%= f.label 'Album Name' %>
			<%= f.text_field :albumname, class: 'form_control', :required => true %>
			</div>
			<div class="md-form">
			<%= f.label 'Description' %>
			<%= f.text_field :description, class: 'form_control', :required => true %>
			</div>
			<%= f.submit "Create Album", class: 'btn btn-info' %>
		<% end %>
		</div>
	</div>
	</div>
</div>


<% else %>
  <%= render 'layouts/static' %>
<% end %>