<!DOCTYPE html>
<html>
  <head>
    <title>PhotoAlbum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/css/mdb.min.css">
  </head>

  <body>
		<%= render 'layouts/nav' %>
		<%= render 'layouts/message' %>
			
		    <%= yield %>

	<%= render 'layouts/footer' %>
	<%= render 'layouts/modal' %>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.10.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
    window.sr = ScrollReveal();
sr.reveal('.fadein');
</script>
<script>(function ($) {
  $(document).ready(function(){
    
  // hide .navbar first
  $(".navbar2").hide();
  
  // fade in .navbar
  $(function () {
    $(window).scroll(function () {
            // set distance user needs to scroll before we fadeIn navbar
      if ($(this).scrollTop() > 100) {
        $('.navbar2').fadeIn();
      } else {
        $('.navbar2').fadeOut();
      }
    });

  
  });

});
  }(jQuery));
$(".alert").fadeTo(2000, 500).fadeOut(500, function(){
               $(".alert").fadeOut(500);
                }); 
                </script>
</html>
